html {
    background-attachment: fixed;
}

nav > a {
    display: inline-block;
}
nav ul {
    float: right;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 5px; /* hack; good enough */
}
nav ul li {
    float: left;
    margin-left: 1em;
}
nav ul li a {
    font-size: 14px;
    color: #898989;
    text-decoration: none;
}
nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
    color: #1593c0;
}

body.large-form h1, body.large-form h2 {
    color: #4a4a4a;
    font-size: 25px;
    font-weight: 300;
}


/* profile */
#current-picture {
    margin-left: 0;
}
#current-picture img {
    max-width: 200px;
    max-height: 200px;
}

#reading-yes + label ~ p,
#reading-yes + label ~ label,
#reading-yes ~ input {
    display: none;
}
#reading-yes:checked + label ~ p,
#reading-yes:checked + label ~ label,
#reading-yes:checked ~ input {
    display: block;
}
label[for=reading-topic] {
    margin-top: 5px;
}

table input {
    width: 13em;
}
table.availability {
    border-collapse: collapse;
    width: 100%;
}
table.availability td {
    border: 1px solid black;
    text-align: center;
}
table.availability tr + tr th {
    text-transform: uppercase;
    text-align: left;
}
table.availability label {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 0;
}
table.availability input[type=checkbox] {
    float: none;
    display: inline;
}

form#profile section {
    border-top: 1px solid #c1c1c1;
    margin-top: 30px;
}
form#profile section h2 > a {
    display: none;
    margin-left: 0.25em;
}
form#profile section h2:hover > a {
    display: inline;
}
section.floated {
    overflow: hidden;
}
div.half-width {
    float: left;
    width 50%;
}


/* panels */
section.panel {
    background-color: #f6f6f6;
    padding: 1em 1.5em 2em;
    overflow: auto; /* clear floats */
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
section.panel + section.panel {
    margin-top: 1em;
}
section.panel h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
section.panel h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: #898989;
    margin: 0;
}
section.panel textarea {
    height: 8ex;
}

ul.tags {
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 0;
    margin: 0;
}
ul.tags li {
    background-color: #c1c1c1;
    padding: 2px 14px;
    border-radius: 11px;
    display: inline-block;
    margin-top: 0.5em;
}

section.panel input[type=checkbox] + label ~ label,
section.panel input[type=checkbox] ~ select,
section.panel input[type=checkbox] ~ textarea,
section.panel input[type=checkbox] ~ textarea + p {
    display: none;
}
section.panel input[type=checkbox]:checked + label ~ label,
section.panel input[type=checkbox]:checked ~ select,
section.panel input[type=checkbox]:checked ~ textarea,
section.panel input[type=checkbox]:checked ~ textarea + p {
    display: block;
}
