@import url('https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,800&display=swap');

html {
    margin: 0 auto;
    padding: 0.5em;
    background-image: url(/img/Call-BGImage.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    letter-spacing: 0.5px;
    font-size: 16px;
}
html, input {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #191919;
}

form {
    font-size: 14px;
    letter-spacing: normal;
}
form p {
    font-size: 16px;
}

label, p.label {
    font-family: 'Rajdhani', sans-serif;
    color: #191919;
}

body {
    max-width: 80ch; /* readability - 50-80 chars */
    width: 630px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 32px 24px;
    position: relative;
}

h1, h2, h3 {
    font-size: 16px;
    font-weight: normal;
}
h1 {
    font-weight: 800;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}
input[type=checkbox] + label {
    user-select: none;
}

a {
    color: #1593c0;
}

label + input {
    margin-top: 9px;
}
input, textarea, select {
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 2px;
    border: 0;
    background-color: #FAFCFF;
    border: 1px solid #B2B5B9;
    font-size: 14px;
}
ol.explanation, p.explanation {
    margin-top: 0;
    color: #4a4a4a;
    font-size: 14px;
}
input, p.explanation, select {
    width: 272px;
}
textarea, textarea + p.explanation, input[type=file] + p.explanation, p.explanation.wide {
    max-width: 80ch;
    width: 100%;
}
textarea {
    height: 12ex;
}
input[type=submit],
button[type=submit] {
    color: white;
    background-color: #1593c0;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5em 1.25em;
    cursor: pointer;
}
input[type=file] {
    background-color: inherit;
    padding: 0;
    margin-bottom: 10px;
}

label.required::after, p.required::after {
    content: '*';
    color: red;
}
output.error {
    color: red;
}

input[type=radio] + label, input[type=checkbox] + label {
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
}
input[type=radio], input[type=checkbox] {
    width: auto;
    float: left;
    margin-right: 8px;
}
div.shrinkwrap {
    margin-top: 0.3em;
}
